<div class="explorer" fxLayoutGap="32px">

  <div class="primary" [fxHide.xs.notebook]="displaySecondaryView">
<!--
    <div class="card card-border">

      <div class="card-header card-header-flat">

        <div class="card-title">
          Actividades de Reconocimiento y Exploración Superficial (ARES) - ASEA

          <div class="card-hint"> 18/Feb/2022 </div>

        </div>

      </div>

      <div class="card-body">

      </div>

    </div> -->

  </div>

  <div class="secondary" *ngIf="displaySecondaryView">

  </div>

</div>
