<div class="main-layout">

  <emp-ng-spinner [service]="spinnerService" overlay='FullScreen'>

  </emp-ng-spinner>

  <div class="top-bar">

  </div>

  <mat-sidenav-container>

    <mat-sidenav #sidenavLeft class="sidenav-left" mode="side" disableClose="true">

    </mat-sidenav>


    <mat-sidenav-content #sidenavContent class="content">

      <div [style.margin-left.px]="sidenavLeft.opened ? 6 : 0">

        <emp-ng-nav-bar>

        </emp-ng-nav-bar>

        <emp-ng-navigation-header (action)="onAction($event)">

        </emp-ng-navigation-header>

        <div class="workarea">

          <router-outlet>

          </router-outlet>

        </div>

      </div>

    </mat-sidenav-content>


    <mat-sidenav #sidenavRight [(opened)]="displayAsideRight" mode="over" position="end" disableClose="true"
      class="sidenav-right">

      <button class="toolbar-item btn-collapse-sidenav-right"
        title="Cerrar herramienta"
        (click)="onCloseAsideRight()">
        <mat-icon>last_page</mat-icon>
      </button>

      <container-element [ngSwitch]="toolSelected">

        <div [style.width.px]="500">

        </div>

      </container-element>

    </mat-sidenav>

  </mat-sidenav-container>

  <footer class="footer">

  </footer>

</div>
